input:invalid{
    content: 'not done';
    color: #f00;
    padding-left: 5px;
}
input:valid + span:after {
    content: 'done';
    color: #26b72b;
    padding-left: 5px;
}

.form{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

.content_index {
    align-content: center;
    width: 30%;
    margin: 10px;
}

input, textarea{
    border: 1px solid black;
    border-radius: 4px;
}

.confirm{
    margin-bottom: 20px;
}